<p class="menu-label">検索</p>
<form action="{% url 'blog:post_list' %}" method="GET">
    <div class="field">
        <div class="control">
            {{ form.keyword }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            <div class="select">
                {{ form.category }}
            </div>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <div class="select is-multiple">
                {{ form.tags }}
            </div>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <div class="select">
                {{ form.user }}
            </div>
        </div>
    </div>

<button class="button is-success" type="submit">検索</button>
</form>