{% load blog %}

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
<!-- {% if page_obj.has_previous %}
<a class="pagination-previous" href="?{% url_replace request 'page' page_obj.previous_page_number %}">Forward</a>
{% endif %} -->

<ul class="pagination-list">
{% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}     
        <li><span span class="pagination-ellipsis">{{ num }}</span></li>
    {% else %}
        <li><a class="pagination-link" href="?{% url_replace request 'page' num %}">{{ num }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<!-- {% if page_obj.has_next %}
<a  class="pagination-next text-center" href="?{% url_replace request 'page' page_obj.next_page_number %}">Next</a>
{% endif %} -->
</nav>